{% extends "base.html" %}
{% block content %}

<div class="container content is-child box column is-4 is-offset-4">
	<h2>It's a match!</h2>
    <div class="columns has-text-centered">
        <div class="column is-half">
            <img src="{{ request.user.userprofile.photo.url }}">
       	</div>
        <div class="column">
        	<img src="{{ match.userprofile.photo.url }}">
        </div>
    </div>
    <p>You and {{ match.username }} like each other!</p>
    <p><a href="mailto:{{ match.email }}?">Send Email</a></p>
    <br>
    <p><a href="{% url "index" %}">Find more</a></p>
</div>
{% endblock %}
