{% extends "base.html" %}
{% block content %}
<h1>Profile</h1>

  {% csrf_token %}
  <img src="{{ user.photo.url }}"><br>
  {{ info.username }}<br>

<div class="container">
    <form class="form-signin" id='profile_form' method="POST" action="{% url "profile" %}" enctype='multipart/form-data'>
          {% csrf_token %}
    <p>
        Profile Image: <input id="id_image" type="file" class="" name="image">
    </p>
      <p><label for="id_bio">Bio:</label> <textarea name="bio" id="id_bio" maxlength="254">{{user.bio}}</textarea></p>
      <p><label for="id_email">Email address:</label> <input id="id_email" maxlength="254" name="email" type="email" value="{{info.email}}"></p>
      <p><label for="id_first_name">First name:</label> <input id="id_first_name" maxlength="30" name="first_name" type="text" value="{{info.first_name}}"></p>
      <p><label for="id_last_name">Last name:</label> <input id="id_last_name" maxlength="30" name="last_name" type="text" value="{{info.last_name}}"></p>
      </br>
      <h3 class="form-signin-heading">Change Password</h3>
      <p><label for="id_password">Password:</label> <input id="id_password" maxlength="30" name="password" type="password"></p>
      <p><label for="id_new_password">New Password:</label> <input id="id_new_password" maxlength="30" name="new_password" type="password"></p>
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Save</button>
    </form>
    </div>

{% endblock %}
